### Load data

In [ ]:
# Load packages

import geopandas as gpd
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import zipfile
import os

In [ ]:
# Function for cleaning data
def clean_cd_data(file_path, rename_dict, columns):
    #Read file
    data = pd.read_csv(file_path,
                          header=2,
                          skiprows=[3,4])
    #Rename columns
    data = data.rename(columns=rename_dict)

    #Filter out other states data
    states_list = ['Ohio', 'Indiana', 'Michigan', 'Pennsylvania', 'Wisconsin', 'Missouri']
    data = data[data['State name'].isin(states_list)]

    #Specify columns
    data = data[columns]

    #Add column for join
    data['CD116FP'] = data['Congressional district'].astype(int)

    return data

In [ ]:
# Get new voter turnout data

turnout_file = "./data_2018/demographic_data/voter_turnout_2018.csv"

turnout_dict = {'Voting rate3': 'Voting rate'}

turnout_columns = ['State name', 'Congressional district', 'Voting rate']

voter_turnout = clean_cd_data(turnout_file, turnout_dict,turnout_columns)

# voter_turnout['State CD116FP'] = voter_turnout['State name'] + voter_turnout['CD116FP'].astype(str).str.zfill(2)


voter_turnout.head()

    State name Congressional district  Voting rate  CD116FP
150    Indiana                      1    45.644226        1
151    Indiana                      2    43.783212        2
152    Indiana                      3    45.467962        3
153    Indiana                      4    43.090387        4
154    Indiana                      5    55.305493        5

In [ ]:
# Age data

# Clean data
age_cd_file = "./data_2018/demographic_data/table02a_age_2018.csv"
age_cd_dict = {'Unnamed: 8': '18-29',
    'Unnamed: 12': '30-44',
    'Unnamed: 16': '45-64',
    'Unnamed: 20': '65 and older'}
age_cd_columns = ['State name', 'Congressional district', '18-29', '30-44', '45-64', '65 and older']

age_cd_gdf = clean_cd_data(age_cd_file, age_cd_dict, age_cd_columns)
# age_cd_gdf['State CD116FP'] = age_cd_gdf['State name'] + age_cd_gdf['CD116FP'].astype(str).str.zfill(2)

age_cd_gdf.head()

,State name,Congressional district,18-29,30-44,45-64,65 and older,CD116FP
151,Indiana,1,19.8,23.4,35.1,21.7,1
152,Indiana,2,21.2,22.6,33.6,22.6,2
153,Indiana,3,20.6,23.9,34.2,21.3,3
154,Indiana,4,23.5,22.5,33.4,20.7,4
155,Indiana,5,19.4,25.7,34.8,20.1,5

In [ ]:
# Sex & Poverty data

# Clean sex & poverty data
sex_poverty_cd_file = "./data_2018/demographic_data/table02b_sex_poverty_2018.csv"
sex_poverty_cd_dict = {'Unnamed: 8': 'Men',
    'Unnamed: 12': 'Women',
    'Unnamed: 18': 'In Poverty'}
sex_poverty_cd_columns = ['State name', 'Congressional district', 'Men', 'Women', 'In Poverty']

sex_poverty_cd_gdf = clean_cd_data(sex_poverty_cd_file, sex_poverty_cd_dict, sex_poverty_cd_columns)
# sex_poverty_cd_gdf['State CD116FP'] = sex_poverty_cd_gdf['State name'] + sex_poverty_cd_gdf['CD116FP'].astype(str).str.zfill(2)

sex_poverty_cd_gdf.head(20)

    State name Congressional district   Men  Women  In Poverty  CD116FP
151    Indiana                      1  48.3   51.7        11.3        1
152    Indiana                      2  48.6   51.4        11.1        2
153    Indiana                      3  48.7   51.3         9.1        3
154    Indiana                      4  49.6   50.4        10.5        4
155    Indiana                      5  47.7   52.3         8.2        5
156    Indiana                      6  48.8   51.2        12.8        6
157    Indiana                      7  46.6   53.4        15.2        7
158    Indiana                      8  49.3   50.7        12.0        8
159    Indiana                      9  48.7   51.3        11.6        9
199   Michigan                      1  50.8   49.2        12.0        1
200   Michigan                      2  49.0   51.0        10.3        2
201   Michigan                      3  49.0   51.0        10.4        3
202   Michigan                      4  49.7   50.3        13.5        4
203   Michigan                      5  47.9   52.1        15.7        5
204   Michigan                      6  48.7   51.3        12.2        6
205   Michigan                      7  49.6   50.4         9.2        7
206   Michigan                      8  48.7   51.3         9.5        8
207   Michigan                      9  48.3   51.7        10.7        9
208   Michigan                     10  49.1   50.9         9.0       10
209   Michigan                     11  48.3   51.7         5.9       11

In [ ]:
# Education data

data = pd.read_csv('./data_2018/demographic_data/table02c_education_2018.csv')
                        #   header=2,
                        #   skiprows=[3,4])

data.head()

# Clean education data
education_cd_file = "./data_2018/demographic_data/table02c_education_2018.csv"
education_cd_dict = {'Unnamed: 8': 'Less than 9th grade',
    'Unnamed: 12': '9th to 12 Grade, no diploma',
    'Unnamed: 36': 'High school or more',
    'Unnamed: 40': 'Bachelors or more'}
education_cd_columns = ['State name', 'Congressional district', 'Less than 9th grade', '9th to 12 Grade, no diploma', 'High school or more', 'Bachelors or more']

education_cd_gdf = clean_cd_data(education_cd_file, education_cd_dict, education_cd_columns)

# Making new column combining those that did not finish high school
education_cd_gdf['Did not finish high school'] = (
    education_cd_gdf['Less than 9th grade'] + education_cd_gdf['9th to 12 Grade, no diploma']
)
education_cd_gdf = education_cd_gdf.drop(
    ['Less than 9th grade', '9th to 12 Grade, no diploma'],
    axis=1
)

# education_cd_gdf['State CD116FP'] = education_cd_gdf['State name'] + education_cd_gdf['CD116FP'].astype(str).str.zfill(2)


# Preview
education_cd_gdf.head(20)

,State name,Congressional district,High school or more,Bachelors or more,CD116FP,Did not finish high school
151,Indiana,1,89.8,21.7,1,10.2
152,Indiana,2,86.8,21.8,2,13.2
153,Indiana,3,88.1,22.3,3,11.9
154,Indiana,4,90.3,24.7,4,9.8
155,Indiana,5,93.1,43.4,5,6.9
156,Indiana,6,89.2,19.6,6,10.8
157,Indiana,7,85.7,23.2,7,14.3
158,Indiana,8,89.4,20.1,8,10.6
159,Indiana,9,89.8,25.1,9,10.1
199,Michigan,1,91.8,24.2,1,8.1
200,Michigan,2,92.4,24.5,2,7.6
201,Michigan,3,92.9,30.4,3,7.1
202,Michigan,4,90.9,19.6,4,9.1
203,Michigan,5,89.2,18.5,5,10.7
204,Michigan,6,91.0,25.9,6,9.0
205,Michigan,7,92.0,23.8,7,8.0
206,Michigan,8,94.3,35.6,8,5.7
207,Michigan,9,90.7,29.1,9,9.3
208,Michigan,10,91.6,22.5,10,8.4
209,Michigan,11,95.3,44.6,11,4.7

In [ ]:
# Race data

data = pd.read_csv('./data_2018/demographic_data/table02d_race_2018.csv')
                        #   header=2,
                        #   skiprows=[3,4])

# Clean race data
race_cd_file = "./data_2018/demographic_data/table02d_race_2018.csv"
race_cd_dict = {'Unnamed: 8': 'White',
    'Unnamed: 12': 'Black',
    'Unnamed: 16': 'Asian',
    'Unnamed: 36': 'Hispanic'}
race_cd_columns = ['State name', 'Congressional district', 'White', 'Black', 'Asian', 'Hispanic']

race_cd_gdf = clean_cd_data(race_cd_file, race_cd_dict, race_cd_columns)

# Make sure data is numerical
race_cd_gdf.replace('N', np.nan, inplace=True)
cols_to_convert = ['White', 'Black', 'Asian', 'Hispanic']
for col in cols_to_convert:
    race_cd_gdf[col] = pd.to_numeric(race_cd_gdf[col], errors='coerce')

race_cd_gdf.head(20)

,State name,Congressional district,White,Black,Asian,Hispanic,CD116FP
151,Indiana,1,72.4,17.700000,1.0,12.7,1
152,Indiana,2,88.9,6.525141,0.8,5.7,2
153,Indiana,3,90.0,5.800000,1.5,3.5,3
154,Indiana,4,91.7,4.000000,1.6,3.4,4
155,Indiana,5,86.5,8.700000,2.4,2.9,5
156,Indiana,6,95.1,2.803100,0.5,1.4,6
157,Indiana,7,64.3,29.500000,1.8,5.3,7
158,Indiana,8,93.6,4.400000,0.5,1.1,8
159,Indiana,9,93.4,3.025336,1.6,1.9,9
199,Michigan,1,93.1,1.400000,0.4,1.3,1
200,Michigan,2,87.7,5.700000,1.8,6.6,2
201,Michigan,3,87.4,7.500000,1.3,4.8,3
202,Michigan,4,94.9,1.980041,0.6,2.7,4
203,Michigan,5,79.8,16.576635,0.7,4.0,5
204,Michigan,6,87.4,7.600000,1.1,3.8,6
205,Michigan,7,92.4,3.800000,0.8,3.4,7
206,Michigan,8,88.7,5.600000,2.8,4.3,8
207,Michigan,9,81.1,13.500000,3.0,2.1,9
208,Michigan,10,93.3,3.123488,1.5,2.4,10
209,Michigan,11,85.4,5.300000,6.9,2.0,11

In [ ]:
# TODO: Merge data to get a dataset called 'df' with the following varaibles:
#         18-29', '30-44', '45-64',
#        '65 and older', 'Women', 'In Poverty', 'Did not finish high school',
#        'Bachelors or more', 'White', 'Black', 'Asian', 'Hispanic',
#        'Voting rate', '18-44'

# Leaving out 'urbanization_pct' for now

merge_cols = ['State name', 'Congressional district', 'CD116FP']


df = voter_turnout.merge(age_cd_gdf, on=merge_cols, how='inner') \
            .merge(sex_poverty_cd_gdf, on=merge_cols, how='inner') \
            .merge(education_cd_gdf, on=merge_cols, how='inner') \
            .merge(race_cd_gdf, on=merge_cols, how='inner')



df['18-44'] = df['18-29'] + df['30-44']

df['CD116'] = df['State name'] + ' ' + df['CD116FP'].astype(str).str.zfill(2)


df.head(20)

# print(df.columns)

,State name,Congressional district,Voting rate,CD116FP,18-29,30-44,45-64,65 and older,Men,Women,In Poverty,High school or more,Bachelors or more,Did not finish high school,White,Black,Asian,Hispanic,18-44,CD116
0,Indiana,1,45.644226,1,19.8,23.4,35.1,21.7,48.3,51.7,11.3,89.8,21.7,10.2,72.4,17.700000,1.0,12.7,43.2,Indiana 01
1,Indiana,2,43.783212,2,21.2,22.6,33.6,22.6,48.6,51.4,11.1,86.8,21.8,13.2,88.9,6.525141,0.8,5.7,43.8,Indiana 02
2,Indiana,3,45.467962,3,20.6,23.9,34.2,21.3,48.7,51.3,9.1,88.1,22.3,11.9,90.0,5.800000,1.5,3.5,44.5,Indiana 03
3,Indiana,4,43.090387,4,23.5,22.5,33.4,20.7,49.6,50.4,10.5,90.3,24.7,9.8,91.7,4.000000,1.6,3.4,46.0,Indiana 04
4,Indiana,5,55.305493,5,19.4,25.7,34.8,20.1,47.7,52.3,8.2,93.1,43.4,6.9,86.5,8.700000,2.4,2.9,45.1,Indiana 05
5,Indiana,6,44.027430,6,21.0,21.3,34.6,23.1,48.8,51.2,12.8,89.2,19.6,10.8,95.1,2.803100,0.5,1.4,42.3,Indiana 06
6,Indiana,7,41.758976,7,24.7,25.6,32.1,17.6,46.6,53.4,15.2,85.7,23.2,14.3,64.3,29.500000,1.8,5.3,50.3,Indiana 07
7,Indiana,8,44.485376,8,20.1,22.9,34.3,22.6,49.3,50.7,12.0,89.4,20.1,10.6,93.6,4.400000,0.5,1.1,43.0,Indiana 08
8,Indiana,9,47.167952,9,23.0,23.5,32.9,20.7,48.7,51.3,11.6,89.8,25.1,10.1,93.4,3.025336,1.6,1.9,46.5,Indiana 09
9,Michigan,1,58.863821,1,17.3,18.9,35.0,28.8,50.8,49.2,12.0,91.8,24.2,8.1,93.1,1.400000,0.4,1.3,36.2,Michigan 01
10,Michigan,2,55.405452,2,22.4,22.9,33.3,21.4,49.0,51.0,10.3,92.4,24.5,7.6,87.7,5.700000,1.8,6.6,45.3,Michigan 02
11,Michigan,3,56.392779,3,21.5,24.7,33.5,20.3,49.0,51.0,10.4,92.9,30.4,7.1,87.4,7.500000,1.3,4.8,46.2,Michigan 03
12,Michigan,4,51.366099,4,20.8,20.6,34.0,24.6,49.7,50.3,13.5,90.9,19.6,9.1,94.9,1.980041,0.6,2.7,41.4,Michigan 04
13,Michigan,5,53.099366,5,19.4,21.2,35.6,23.8,47.9,52.1,15.7,89.2,18.5,10.7,79.8,16.576635,0.7,4.0,40.6,Michigan 05
14,Michigan,6,54.141750,6,21.8,21.7,33.7,22.8,48.7,51.3,12.2,91.0,25.9,9.0,87.4,7.600000,1.1,3.8,43.5,Michigan 06
15,Michigan,7,53.797711,7,18.1,22.1,36.1,23.7,49.6,50.4,9.2,92.0,23.8,8.0,92.4,3.800000,0.8,3.4,40.2,Michigan 07
16,Michigan,8,61.608009,8,23.2,21.5,35.2,20.0,48.7,51.3,9.5,94.3,35.6,5.7,88.7,5.600000,2.8,4.3,44.7,Michigan 08
17,Michigan,9,55.163064,9,21.2,23.4,34.5,20.9,48.3,51.7,10.7,90.7,29.1,9.3,81.1,13.500000,3.0,2.1,44.6,Michigan 09
18,Michigan,10,54.724054,10,16.6,21.5,38.4,23.6,49.1,50.9,9.0,91.6,22.5,8.4,93.3,3.123488,1.5,2.4,38.1,Michigan 10
19,Michigan,11,65.611415,11,18.1,21.3,38.0,22.5,48.3,51.7,5.9,95.3,44.6,4.7,85.4,5.300000,6.9,2.0,39.4,Michigan 11

In [ ]:
# Select columns

df = df[['CD116', 'Voting rate', '18-44', '45-64',
       '65 and older', 'Women', 'In Poverty', 'Did not finish high school',
       'Bachelors or more', 'White', 'Black', 'Asian', 'Hispanic']]
       # 'urbanization_pct']]

df.loc[:, df.columns != 'Voter Data'] = df.loc[:, df.columns != 'Voter Data'].round(1)

df.head()

,CD116,Voting rate,18-44,45-64,65 and older,Women,In Poverty,Did not finish high school,Bachelors or more,White,Black,Asian,Hispanic
0,Indiana 01,45.6,43.2,35.1,21.7,51.7,11.3,10.2,21.7,72.4,17.7,1.0,12.7
1,Indiana 02,43.8,43.8,33.6,22.6,51.4,11.1,13.2,21.8,88.9,6.5,0.8,5.7
2,Indiana 03,45.5,44.5,34.2,21.3,51.3,9.1,11.9,22.3,90.0,5.8,1.5,3.5
3,Indiana 04,43.1,46.0,33.4,20.7,50.4,10.5,9.8,24.7,91.7,4.0,1.6,3.4
4,Indiana 05,55.3,45.1,34.8,20.1,52.3,8.2,6.9,43.4,86.5,8.7,2.4,2.9

In [ ]:
# Export as csv

df.to_csv('./data_2018/cd_2018.csv', index=False)